name: Publisher
"on":
  - workflow_dispatch
jobs:
  build:
    environment: deployment
    runs-on: ubuntu-latest
    env:
      RELEASER_CHANGER: gradle-properties
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
          token: "${{ secrets.ACTIONS_PAT }}"
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          distribution: 'temurin'
          java-version: '8'
      - uses: anatawa12/something-releaser@v2

      - run: set-git-user anatawa12-bot

      - name: Update Version
        id: up
        run: |
          # set current version
          VERSION="$(get-version)"
          if ! [[ "$VERSION" = *-SNAPSHOT ]]; then
            echo 'VERSION IS NOT SNAPSHOT' >&2
            exit 1
          fi
          VERSION="$(version-unsnapshot "$VERSION")"
          set-version "$VERSION"
          # create changelog
          generate-changelog -v "$VERSION"
          # create changelog for this release
          RELEASE_NOTE="$(mktemp)"
          echo "::set-output name=RELEASE_NOTE::$RELEASE_NOTE"
          generate-changelog -v "$VERSION" --unreleased-only >> "$RELEASE_NOTE"
          # update versions in readme and example
          perl -pi \
            -e 's/(?<=\Q("com.anatawa12.compile-time-constant") version \E)".*"/"'$VERSION'"/' \
            README.md \
            example/build.gradle.kts
          # commit & tag
          git add .
          git commit -m "v$VERSION"
          git tag "v$VERSION"

      - run: |
          ./gradlew build
          git push && git push --tags
      - name: Create New Release
        env:
          GH_TOKEN: ${{ github.token }}
          RELEASE_NOTE: ${{ steps.up.outputs.RELEASE_NOTE }}
        run: |
          VERSION="$(get-version)"
          gh release create "v$VERSION" \
            --target "v$VERSION" \
            --notes-file "$RELEASE_NOTE"
          gh release upload "v$VERSION" \
            "build/libs/plugin-permissions-for-ngt-$VERSION.jar"

      - name: Update To Next Version
        run: |
          VERSION="$(get-version)"
          VERSION="$(version-next "$VERSION")"
          set-version "$(version-snapshot "$VERSION")"
          git add .
          git commit -m "prepare for next version: $VERSION"
          git push
